/* Common Code Start */
:root{
    --primary-color: #78d400;
    --light-color: #fff;
    --dark-color: #000;
}

.title{
    h1{
        color: var(--primary-color);
        font-weight: 600;
    }
}
/* Common Code End */


/* Navbar Start */
#navbar{
    background-color: rgba(120, 212, 0,0.5);
    backdrop-filter: blur(10px);
    .nav-link{
        color: var(--dark-color);
        margin: 0px 10px;
        padding: 10px 15px;
        transition: .5s ease-in-out;
        
        &:hover{
            color: var(--light-color);
            background: var(--primary-color);
        }
        
        &.active{
            color: var(--light-color);
            background: var(--primary-color);
        }
    }
}
/* Navbar End */
